:root {
  --app-bg: #141414;
  --app-text: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--app-bg);
  color: var(--app-text);
}

#root {
  min-height: 100vh;
}